<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form class="form-signin" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Cambiar contraseña</h1>
            </div>

            <app-text-input formControlName="password" [label]="'Contraseña'" [type]="'password'"></app-text-input>
            <app-text-input formControlName="confirmPassword" [label]="'Confirmar contraseña'" [type]="'password'"></app-text-input>

            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Cambiar</button>
        </form>
    </div>
</div>