<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form class="form-signin" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{'account.forgot-password.enterEmail' | translate}}</h1>
            </div>

            <app-text-input formControlName="userName" [label]="'Email'" [type]="'text'"></app-text-input>

            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{'account.forgot-password.send' | translate}}</button>
        </form>
    </div>
</div>