<carousel>
    <slide>
        <img src="assets/images/huerta1.jpg" alt="first slide" style="display: block; width: 100%" />
    </slide>
    <slide>
        <img src="assets/images/huerta2.jpg" alt="second slide" style="display: block; width: 100%" />
    </slide>
    <slide>
        <img src="assets/images/huerta4.jpg" alt="third slide" style="display: block; width: 100%" />
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Bienvenido a Greenba</h1>
    </div>
    <div class="b-example-divider"></div>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Huertas organicas a tu medida</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                No importa el espacio, diseñamos y construimos diseños adaptables y a medida de tus posibilidades.
            </p>
        </div>
        <div class="overflow-hidden">
            <div class="container px-5">
                <img src="assets/images/macetas.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" width="700" height="500" />
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/images/colgantes.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Nuestra mision</h1>
                <p class="lead">El consumo de alimentos orgánicos ayuda a tener una excelente salud. Contribuye a mantener el balance bioquímico del organismo, consumiendo vitaminas y minerales que encontramos en ellos. Contamos con una excelente atención personalizada
                    a nuestros clientes, asesoramiento, respondemos cualquier duda que tengan sobre nuestros servicios o los beneficios y propiedades que cada uno aporta.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                </div>
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Redes sociales</h1>
            <div class="col-lg-6 mx-auto">
            </div>
        </div>
    </div>
</section>