<header>
    <span *ngIf="this.totalCount && this.totalCount > 0">
      {{'paging-header.show' | translate}} 
    <strong>
      {{(pageNumber-1) * pageSize + 1}} - 
      {{pageNumber * pageSize
        > totalCount 
        ? totalCount 
        : pageNumber * pageSize         
      }}
    </strong> {{'paging-header.of' | translate}} <strong>{{totalCount}}</strong> {{'paging-header.results' | translate}}
    </span>
    <span *ngIf="totalCount === 0">
      {{'paging-header.are' | translate}} <strong>0</strong> {{'paging-header.results' | translate}}.
    </span>
</header>