<div class="form-label-group">
    <ng-container #input>
        <ng-container *ngIf="(type !== 'textarea')">
            <input [ngClass]="(controlDir && controlDir.control && controlDir.control.touched) ? !controlDir.control.valid ? 'is-invalid' : 'is-valid' : null" [type]="type" min="0.01" [value]="controlDir.value" (input)="onChange($event.target.value)" (blur)="onTouched()"
                id="{{label}}" class="form-control" placeholder="{{label}}">
            <label for="{{label}}">{{label}}</label>
        </ng-container>

        <textarea *ngIf="(type === 'textarea')" [ngClass]="(controlDir && controlDir.control && controlDir.control.touched) ? !controlDir.control.valid ? 'is-invalid' : 'is-valid' : null" class="form-control" rows="3" [value]="controlDir.value" (input)="onChange($event.target.value)"
            (blur)="onTouched()" id="{{label}}" class="form-control" placeholder="{{label}}"></textarea>
    </ng-container>

    <div *ngIf="(controlDir && controlDir.control && controlDir.control.status === 'PENDING')" class="fa fa-spinner fa-spin loader"></div>
    <div class="invalid-feedback" *ngIf="(controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched)">
        <span *ngIf="controlDir.control.errors?.required">Debe ingresar {{label}} </span>
        <span *ngIf="controlDir.control.errors?.pattern">Email invalido</span>
        <span *ngIf="controlDir.control.errors?.min">{{label}} Debe ser mayor a 0</span>
        <span *ngIf="controlDir.control.hasError('noDecimal')">El precio debe ser un numero decimal</span>
    </div>

    <div class="invalid-feedback d-block" *ngIf="(controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.dirty)">
        <span *ngIf="controlDir.control.errors?.emailExists">Email en uso</span>
    </div>
</div>