.description,
.card-description,
.footer-big p,
.card .footer .stats {
    color: #9A9A9A;
    font-weight: 300;
}

.category,
.card-category {
    text-transform: capitalize;
    font-weight: 400;
    color: #9A9A9A;
    font-size: 0.7142em;
}

.card-category {
    font-size: 1em;
}

.card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card .card-body {
    padding: 15px 15px 10px 15px;
}

.card .card-body.table-full-width {
    padding-left: 0;
    padding-right: 0;
}

.card .card-header {
    padding: 15px 15px 0;
    border: 0;
}

.card .card-header:not([data-background-color]) {
    background-color: transparent;
}

.card .card-header .card-title {
    margin-top: 10px;
}

.card .map {
    border-radius: 3px;
}

.card .map.map-big {
    height: 500px;
}

.card[data-background-color="orange"] {
    background-color: #51cbce;
}

.card[data-background-color="orange"] .card-header {
    background-color: #51cbce;
}

.card[data-background-color="orange"] .card-footer .stats {
    color: #FFFFFF;
}

.card[data-background-color="red"] {
    background-color: #ef8157;
}

.card[data-background-color="yellow"] {
    background-color: #fbc658;
}

.card[data-background-color="blue"] {
    background-color: #51bcda;
}

.card[data-background-color="green"] {
    background-color: #6bd098;
}

.card .image {
    overflow: hidden;
    height: 200px;
    position: relative;
}

.card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card .numbers {
    font-size: 2em;
}

.card .big-title {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 15px;
}

.card label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
}

.card .card-footer {
    background-color: transparent;
    border: 0;
}

.card .card-footer .stats i {
    margin-right: 5px;
    position: relative;
    top: 0px;
    color: #66615B;
}

.card .card-footer .btn {
    margin: 0;
}

.card.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}

.card.card-plain .card-body {
    padding-left: 5px;
    padding-right: 5px;
}

.card.card-plain img {
    border-radius: 12px;
}

.card-plain {
    background: transparent;
    box-shadow: none;
}

.card-plain .card-header,
.card-plain .card-footer {
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
}

.card-plain:not(.card-subcategories).card-body {
    padding-left: 0;
    padding-right: 0;
}

.card-chart .card-header .card-title {
    margin-top: 10px;
    margin-bottom: 0;
}

.card-chart .card-header .card-category {
    margin-bottom: 5px;
}

.card-chart .table {
    margin-bottom: 0;
}

.card-chart .table td {
    border-top: none;
    border-bottom: 1px solid #e9ecef;
}

.card-chart .card-progress {
    margin-top: 30px;
}

.card-chart .chart-area {
    height: 190px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
}

.card-chart .card-footer {
    margin-top: 15px;
}

.card-chart .card-footer .stats {
    color: #9A9A9A;
}

.card-chart .dropdown {
    position: absolute;
    right: 20px;
    top: 20px;
}

.card-chart .dropdown .btn {
    margin: 0;
}

.card-user .image {
    height: 130px;
}

.card-user .image img {
    border-radius: 12px;
}

.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -77px;
}

.card-user .author a+p.description {
    margin-top: -7px;
}

.card-user .avatar {
    width: 124px;
    height: 124px;
    border: 1px solid #FFFFFF;
    position: relative;
}

.card-user .card-body {
    min-height: 240px;
}

.card-user hr {
    margin: 5px 15px 15px;
}

.card-user .card-body+.card-footer {
    padding-top: 0;
}

.card-user .card-footer h5 {
    font-size: 1.25em;
    margin-bottom: 0;
}

.card-user .button-container {
    margin-bottom: 6px;
    text-align: center;
}

.card-stats .card-body {
    padding: 15px 15px 0px;
}

.card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em;
}

.card-stats .card-body .numbers p {
    margin-bottom: 0;
}

.card-stats .card-body .numbers .card-category {
    color: #9A9A9A;
    font-size: 16px;
    line-height: 1.4em;
}

.card-stats .card-footer {
    padding: 0px 15px 15px;
}

.card-stats .card-footer .stats {
    color: #9A9A9A;
}

.card-stats .card-footer hr {
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-stats .icon-big {
    font-size: 3em;
    min-height: 64px;
}

.card-stats .icon-big i {
    line-height: 59px;
}

@media screen and (max-width: 768px) {
    .card-stats [class*="col-"] .statistics::after {
        display: none;
    }
    .card .form-horizontal .col-md-3.col-form-label {
        text-align: left;
    }
}

@media screen and (max-width: 576px) {
    .card-contributions .card-stats {
        flex-direction: column;
    }
    .card-contributions .card-stats .bootstrap-switch {
        margin-bottom: 15px;
    }
    .card-timeline .timeline .timeline-panel {
        width: 38%;
        padding: 15px;
    }
}