<div class="container mt-3">
    <div class="row align-items-start">

        <div class="col-3">
            <div>
                <h4 class="text-warning">Orden criticidad</h4>
                <select class="custom-select mb-3 mb-4" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let time of timeOptions" [selected]="logParams.sort === time.value"
                        [value]="time.value">{{ time.name }}</option>
                </select>
            </div>
        </div>
        <div class="col-3 mb-3">
            <form [formGroup]="logForm">
                <h4 class="text-warning">Fecha desde:</h4>
                <app-datepicker formControlName="dateFrom" placeholder="Desde" (ngModelChange)="filter()"></app-datepicker>
                <br>
                <h4 class="text-warning">Fecha hasta:</h4>
                <app-datepicker formControlName="dateTo" placeholder="Hasta" (ngModelChange)="filter()"></app-datepicker>
            </form>
        </div>
        <div class="col-3 mb-3">
            <div>
                <h4 class="text-warning">Nivel</h4>
                <select class="custom-select mb-3 mb-4" (change)="onLevelSelected($event.target.value)">
                    <option *ngFor="let level of levelOptions" [selected]="logParams.sort === level.value"
                        [value]="level.value">{{ level.name }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Mensaje</th>
                        <th>Fecha</th>
                        <th>Excepcion</th>
                        <th>Nivel</th>
                        <th>Componente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of logs" routerLink="{{log.id}}">
                        <th>{{log.id}}</th>
                        <td>{{log.message | slice:0:30}}</td>
                        <td>{{log.logged | slice:0:10}}</td>
                        <td>{{log.exception | slice:0:65}}</td>
                        <td>{{log.level}}</td>
                        <td>{{log.logger}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                <app-pager [pageSize]="logParams.pageSize" [totalCount]="totalCount" [pageNumber]="logParams.pageNumber" (pageChanged)="onPageChanged($event)"></app-pager>
            </div>
        </div>
    </div>
</div>